{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-css-modules",
    "@babel/plugin-proposal-class-properties",
    [
      "babel-plugin-styled-components",
      {
        "fileName": false
      }
    ]
  ]
}
