.progress {
    position: absolute;
    width: 100%;
    background: none;
    border-radius: 0;
}

.small-progress {
    top: 0;
    height: 0.3em;
}

.big-progress {
    top: 50%;
    height: 3em;
}

.progressAll {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.progressDone {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1001;
    transition: width 1s;
}

.big-progress > .progressAll {
    background: #181818;
}

.big-progress > .progressDone {
    background-color: lightgray;
}

.small-progress > .progress-all {
    color: rgba(1, 1, 1, 0)
}

.small-progress > .progressDone {
    background-color: #00b600;
}
