body {
    background-color: black;
    color: white;
}

.header {
    position: relative;
}

.content {
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    margin: 0 15%;
    width: 70%;
    position: relative;
    z-index: 1;
}

.artistImg {
    width: 100%;
    margin-bottom: 10px;
    filter: brightness(0.3) blur(10px);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.albumCover {
    margin-right: 2em;
    width: 12em;
    height: 12em;
    background-size: cover;
    position: relative;
}

.albumYear {
    font-size: xx-small;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: right;
}

.albumYear::before {
    content: "© ";
}

.artistName {
    font-size: 1.5em;
}

.trackName {
    padding: 1em 0;
    font-size: 3em;
}

.composers::before {
    content: "(";
}

.composers::after {
    content: ")";
}

.composers span, .producers span {
    font-size: 0.7em;
}

.composers span:not(:last-child)::after, .producers span:not(:last-child)::after {
    content: ", ";
}

.producers::before {
    content: "[";
}

.producers::after {
    content: "]";
}

.credits {
    margin: 0 15%;
    width: 70%;
}

.collaboratorName {
    border-bottom: 1px solid;
    margin-top: 1em;
}