.track-item-div {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}

.track-item-div > div:first-child {
    display: flex;
    flex-direction: row;
}

.track-item-name {
    flex: 7;
    margin: 0 0.5em;
}

.track-item-duration {
    flex: 1;
}
